openapi: 3.1.0
info:
  title: flyingbluewhale API
  version: v1
  description: |
    Unified production platform API. Every response body follows the envelope
    in `components.schemas.ApiEnvelope`. Treat this file as the source of
    truth — a CI drift test (`tests/unit/openapi-drift.spec.ts`) asserts that
    every `src/app/api/v1/**/route.ts` handler exists in `paths` and vice
    versa. Add new routes here FIRST, then implement.

servers:
  - url: https://flyingbluewhale.pro
    description: Production
  - url: http://localhost:3000
    description: Local dev

security:
  - supabaseSession: []

components:
  securitySchemes:
    supabaseSession:
      type: apiKey
      in: cookie
      name: sb-xrovijzjbyssajhtwvas-auth-token
    idempotencyKey:
      type: apiKey
      in: header
      name: Idempotency-Key

  schemas:
    ApiEnvelope:
      oneOf:
        - $ref: "#/components/schemas/ApiOk"
        - $ref: "#/components/schemas/ApiError"
    ApiOk:
      type: object
      required: [ok, data]
      properties:
        ok: { type: boolean, enum: [true] }
        data: {}
    ApiError:
      type: object
      required: [ok, error]
      properties:
        ok: { type: boolean, enum: [false] }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [bad_request, unauthorized, forbidden, not_found, conflict, rate_limited, internal]
            message: { type: string }
            details: {}

paths:
  /api/v1/health:
    get:
      summary: Legacy composite health ping (kept for backwards compat).
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/liveness:
    get:
      summary: Liveness probe. Always 200 if the process is up.
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/readiness:
    get:
      summary: Readiness probe. 200 iff DB reachable + env complete.
      responses:
        "200": { description: ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "500": { description: not ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }

  /api/v1/telemetry/marketing:
    post:
      summary: Anonymous marketing telemetry beacon (M3-05 / IK-039). Writes events into usage_events under the system org.
      security: []
      responses:
        "200": { description: received, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "400": { description: invalid event or payload too large, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }

  /api/v1/projects:
    get: { summary: List projects visible to the session. }
    post: { summary: Create a project (idempotent via Idempotency-Key). }
  /api/v1/projects/{projectId}:
    get:   { summary: Get a project. }
    patch: { summary: Update a project. }

  /api/v1/tickets/scan:
    post: { summary: Scan a ticket by QR payload. }
  /api/v1/tickets/{id}/scan:
    post: { summary: Scan a specific ticket id. }

  /api/v1/deliverables/{id}/download:
    get: { summary: Redirect to a signed URL for a deliverable file. }

  /api/v1/ai/chat:
    post: { summary: Streaming chat completion. }
  /api/v1/ai/conversations:
    get: { summary: List conversations for the session. Creation is implicit via /api/v1/ai/chat. }
  /api/v1/ai/conversations/{id}:
    get:    { summary: Get a conversation + messages. }
    delete: { summary: Delete a conversation. }

  /api/v1/schedule.ics:
    get: { summary: iCalendar feed for the session's events. }

  /api/v1/webhooks/stripe:
    post: { summary: Stripe webhook receiver (HMAC-verified, idempotent). }

  /api/v1/auth/oauth:
    get: { summary: Initiate Supabase OAuth; redirects to provider. }
  /api/v1/auth/webauthn/register/options:
    post: { summary: Generate WebAuthn registration options + challenge. }
  /api/v1/auth/webauthn/register/verify:
    post: { summary: Verify WebAuthn attestation + persist credential. }
  /api/v1/auth/webauthn/credentials:
    get:    { summary: List the session's registered passkeys. }
    delete: { summary: Revoke a passkey by credential id. }

  /api/v1/stripe/checkout:
    post: { summary: Create a Checkout Session (idempotent). }
  /api/v1/stripe/connect/onboarding:
    post: { summary: Create a Connect Express onboarding link (idempotent). }

  /api/v1/guides/comments:
    get:  { summary: List comments for a guide section. }
    post: { summary: Post a comment to a guide section. }

  /api/v1/me/preferences:
    get:   { summary: Read the session's UI + locale preferences. }
    patch: { summary: Merge-update the session's preferences. }
  /api/v1/me/export:
    get: { summary: Download a GDPR JSON export of the session's data. }
  /api/v1/me/delete:
    post: { summary: Request account deletion with a 30-day grace window. }

  /api/v1/invoices/{invoiceId}/pdf:
    get: { summary: Render an invoice to PDF and 302-redirect to a signed download URL. }
  /api/v1/guides/{guideId}/pdf:
    get: { summary: Render an event guide to PDF (persona-scoped boarding pass) and 302-redirect to a signed download URL. }
  /api/v1/deliverables/{id}/pdf:
    get: { summary: Render a single deliverable (rider, plot, list, etc.) to a type-canonical PDF. }
  /api/v1/projects/{projectId}/advance-book:
    get: { summary: Compile every approved/submitted deliverable on a project into one branded advance-book PDF. }

  /api/v1/exports:
    get:  { summary: List the caller org's recent export runs. }
    post: { summary: Kick off a synchronous CSV or JSON export for a registry-whitelisted table. }

  /api/v1/import/crew-members:
    post: { summary: Bulk-import a CSV of crew into the caller's org, deduped by email or (name, phone). }

  /api/v1/proposals/{proposalId}/pdf:
    get: { summary: Compile a proposal (cover + scope + pricing + signatures) into a branded PDF. }
  /api/v1/projects/{projectId}/call-sheet:
    get: { summary: Daily call sheet PDF — events + crew + venue + weather. `?variant=full|labor`. }
  /api/v1/projects/{projectId}/expense-report:
    get: { summary: Expense + time + mileage report PDF for a date range. }
  /api/v1/projects/{projectId}/task-report:
    get: { summary: Project task list / punch list PDF. }
  /api/v1/projects/{projectId}/signage-grid:
    get: { summary: Project-wide signage grid PDF aggregated from every signage_grid deliverable. }
  /api/v1/projects/{projectId}/wristbands:
    get: { summary: Printable 10-up QR wristband sheet for active tickets. }
  /api/v1/rentals/{rentalId}/pull-sheet:
    get: { summary: Rental checkout / equipment pull sheet PDF. }
  /api/v1/compliance/audit-export:
    get: { summary: Branded PDF dump of audit_log for a date range / actor filter — SOC-2 export shape. }
  /api/v1/brand-kit:
    get: { summary: Per-org brand kit PDF — accent color, typography, legal footer. }
  /api/v1/procurement/vendors/{vendorId}/rfp:
    post: { summary: Generate a branded Request-for-Proposal PDF for a vendor scoped to a project. }
  /api/v1/deliverables/{id}/version-diff:
    get: { summary: Structured diff of a deliverable's data jsonb between two audit-log snapshots. }
  /api/v1/users/{userId}/calendar.ics:
    get: { summary: Personal ICS subscribe URL — every event across the user's org memberships. }

  /api/v1/projects/{projectId}/archive:
    get: { summary: ZIP bundle — every org-scoped table's project rows + manifest.json. Opp #9. }
  /api/v1/projects/{projectId}/sponsor-deck:
    post: { summary: Generate a branded PPTX sponsor activation recap. Opp #23. }

  /api/v1/import/tasks:
    post: { summary: Bulk-import a CSV of tasks into a project. }
  /api/v1/import/vendors:
    post: { summary: Bulk-import a CSV of vendors into the caller's org. }

  /api/v1/deliverable-templates:
    get:  { summary: List deliverable (rider / plot / list) templates visible to the caller. Opp #12. }
    post: { summary: Create an org-scoped deliverable template. }
  /api/v1/stage-plots:
    get:  { summary: List stage plots for a project. Opp #11. }
    post: { summary: Create a stage plot row with interactive-editor state. }
  /api/v1/incidents:
    get:  { summary: List incidents for the caller's org (optionally filtered by project). Opp #18. }
    post: { summary: Log a new incident report with optional photo references. }
  /api/v1/email-templates:
    get:  { summary: List the org's transactional email templates. Opp #21. }
    post: { summary: Create an org-scoped email template with merge-tag schema. }

  /api/v1/credentials/extract:
    post: { summary: AI-extract structured fields from COI or W-9 text. Opp #10. }

  /api/v1/notifications:
    get:   { summary: List the session user's 50 most recent notifications + unread count. }
    patch: { summary: Mark notifications as read by `ids[]` or `readAll=true`. }
