openapi: 3.1.0
info:
  title: ATLVS API
  version: v1
  description: |
    Unified production platform API. Every response body follows the envelope
    in `components.schemas.ApiEnvelope`. Treat this file as the source of
    truth — a CI drift test (`tests/unit/openapi-drift.spec.ts`) asserts that
    every `src/app/api/v1/**/route.ts` handler exists in `paths` and vice
    versa. Add new routes here FIRST, then implement.

servers:
  - url: https://atlvs.pro
    description: Production
  - url: http://localhost:3000
    description: Local dev

security:
  - supabaseSession: []
  - bearerToken: []

components:
  securitySchemes:
    supabaseSession:
      type: apiKey
      in: cookie
      name: sb-xrovijzjbyssajhtwvas-auth-token
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: sk_<prefix>_<secret>
      description: |
        Org-scoped programmatic access token issued via
        `POST /api/v1/me/api-keys` or the console at `/console/settings/api`.
        The plaintext is returned ONCE at creation. Pass as
        `Authorization: Bearer sk_<prefix>_<secret>` on any /api/v1 request;
        the verifier resolves the token to the issuing user's role and the
        token's org. Revoke with `DELETE /api/v1/me/api-keys/{id}`. Tokens
        with a null `created_by` (e.g. legacy seeds) cannot be used for
        request auth.
    idempotencyKey:
      type: apiKey
      in: header
      name: Idempotency-Key

  schemas:
    ApiEnvelope:
      oneOf:
        - $ref: "#/components/schemas/ApiOk"
        - $ref: "#/components/schemas/ApiError"
    ApiOk:
      type: object
      required: [ok, data]
      properties:
        ok: { type: boolean, enum: [true] }
        data: {}
    ApiError:
      type: object
      required: [ok, error]
      properties:
        ok: { type: boolean, enum: [false] }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [bad_request, unauthorized, forbidden, not_found, conflict, rate_limited, internal, service_unavailable]
            message: { type: string }
            details: {}

    Project:
      type: object
      required: [id, org_id, slug, name, created_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        slug: { type: string, example: "mmw26-hialeah" }
        name: { type: string, example: "MMW26 Hialeah" }
        description: { type: string, nullable: true }
        start_date: { type: string, format: date, nullable: true }
        end_date: { type: string, format: date, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateProjectRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 120, example: "Salvage City EDCLV26" }
        description: { type: string, maxLength: 2000 }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        slug: { type: string, pattern: "^[a-z0-9-]+$", maxLength: 48 }

    PageEnvelope:
      type: object
      required: [orgId, projects, nextCursor, pageSize, totalCount]
      properties:
        orgId: { type: string, format: uuid }
        projects:
          type: array
          items: { $ref: "#/components/schemas/Project" }
        nextCursor: { type: string, nullable: true, description: "Opaque cursor; pass back as `?cursor=` to fetch the next page." }
        pageSize: { type: integer, minimum: 1, maximum: 100 }
        totalCount: { type: integer, minimum: 0 }

    ApiKey:
      type: object
      required: [id, name, prefix, scopes, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "ci-deploy-bot" }
        prefix: { type: string, example: "sk_a1b2c3d4", description: "Non-secret token handle (sk_ + 8 chars); safe to display." }
        scopes:
          type: array
          items: { type: string }
          example: ["projects:read"]
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        created_by: { type: string, format: uuid, nullable: true }

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 80, example: "ci-deploy-bot" }
        scopes:
          type: array
          maxItems: 32
          items: { type: string, maxLength: 64 }
          example: ["projects:read", "projects:write"]
        expiresAt: { type: string, format: date-time, description: "ISO-8601 expiry. Omit for non-expiring tokens." }

    CreateApiKeyResponse:
      type: object
      required: [key, token]
      properties:
        key: { $ref: "#/components/schemas/ApiKey" }
        token:
          type: string
          example: "sk_a1b2c3d4_x9YgQ8s-Q7QwY..."
          description: "Plaintext token. Returned ONLY once at creation — store it now."

  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Opaque pagination cursor returned by the previous page's `nextCursor`.
    PageSize:
      name: pageSize
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 256 }
      description: |
        Stripe-style idempotency. Replaying with the same key + same body
        returns the original response (with `idempotency-replay: true`).
        Replaying with the same key but a different body returns 409 conflict.

  headers:
    XRequestId:
      schema: { type: string }
      description: Server-assigned request ID; echo this when filing support tickets.
    XRateLimitRemaining:
      schema: { type: integer }
      description: Requests left in the current window.
    XRateLimitReset:
      schema: { type: integer }
      description: Unix-ms timestamp when the window resets.
    RetryAfter:
      schema: { type: integer }
      description: Seconds to wait before retrying. Sent on 429 responses.

  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    Forbidden:
      description: Authenticated but the role/capability is insufficient.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    NotFound:
      description: Resource does not exist or is not visible to the caller.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    BadRequest:
      description: Validation failed; `error.details` contains per-field issues.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    Conflict:
      description: Request conflicts with current state (e.g. duplicate slug, idempotency-key reused).
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    RateLimited:
      description: Per-bucket budget exceeded.
      headers:
        Retry-After: { $ref: "#/components/headers/RetryAfter" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/XRateLimitRemaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/XRateLimitReset" }
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }

paths:
  /api/v1/health:
    get:
      summary: Legacy composite health ping (kept for backwards compat).
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/liveness:
    get:
      summary: Liveness probe. Always 200 if the process is up.
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/readiness:
    get:
      summary: Readiness probe. 200 iff DB reachable + env complete.
      responses:
        "200": { description: ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "500": { description: not ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }

  /api/v1/telemetry/marketing:
    post:
      summary: Anonymous marketing telemetry beacon (M3-05 / IK-039). Writes events into usage_events under the system org.
      security: []
      responses:
        "200": { description: received, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "400": { description: invalid event or payload too large, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }

  /api/v1/projects:
    get:
      summary: List projects visible to the caller's org.
      operationId: listProjects
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Page of projects. `X-Total-Count` mirrors `data.totalCount`.
          headers:
            X-Total-Count:
              schema: { type: integer }
              description: Total projects in the org (not just this page).
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PageEnvelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
    post:
      summary: Create a project. Idempotent when `Idempotency-Key` is provided.
      operationId: createProject
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProjectRequest" }
            examples:
              minimal:
                value: { name: "MMW26 Hialeah" }
              fullySpecified:
                value:
                  name: "Salvage City EDCLV26"
                  description: "Day-of-show ops for EDC LV 2026"
                  startDate: "2026-05-15"
                  endDate: "2026-05-18"
                  slug: "salvage-city-edclv26"
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/projects/{projectId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a project by id.
      operationId: getProject
      responses:
        "200":
          description: The project.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      summary: Update a project (partial).
      operationId: updateProject
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                description: { type: string, maxLength: 2000 }
                startDate: { type: string, format: date }
                endDate: { type: string, format: date }
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/scan:
    post: { summary: Scan an assignment code (any catalog kind — ticket, credential, wristband, vehicle, etc.). Race-safe via assignment_scan_codes unique partial index. }
  /api/v1/equipment/scan:
    post: { summary: Scan an equipment asset tag to toggle / check-in / check-out. Emits status updates. }

  /api/v1/deliverables/{id}/download:
    get: { summary: Redirect to a signed URL for a deliverable file. }
  /api/v1/deliverables/{id}/transition:
    post: { summary: Drive a deliverable through the advancing state machine (submitted → in_review → approved / rejected / revision_requested / fulfilled). Producer-side personas only. }

  /api/v1/ai/chat:
    post: { summary: Streaming chat completion. }
  /api/v1/ai/conversations:
    get: { summary: List conversations for the session. Creation is implicit via /api/v1/ai/chat. }
  /api/v1/ai/conversations/{id}:
    get:    { summary: Get a conversation + messages. }
    delete: { summary: Delete a conversation. }

  /api/v1/schedule.ics:
    get: { summary: iCalendar feed for the session's events. }

  /api/v1/webhooks/stripe:
    post: { summary: Stripe webhook receiver (HMAC-verified, idempotent). }
  /api/v1/webhooks/endpoints:
    get:  { summary: List outbound webhook endpoints registered for the caller's org. }
    post: { summary: Register a new outbound webhook endpoint; returns the HMAC signing secret once. }
  /api/v1/webhooks/endpoints/{id}:
    patch:  { summary: Update an endpoint's URL, event allowlist, description, or active flag. }
    delete: { summary: Soft-delete a webhook endpoint. }

  /api/v1/auth/oauth:
    get: { summary: Initiate Supabase OAuth; redirects to provider. }
  /api/v1/auth/webauthn/register/options:
    post: { summary: Generate WebAuthn registration options + challenge. }
  /api/v1/auth/webauthn/register/verify:
    post: { summary: Verify WebAuthn attestation + persist credential. }
  /api/v1/auth/webauthn/credentials:
    get:    { summary: List the session's registered passkeys. }
    delete: { summary: Revoke a passkey by credential id. }

  /api/v1/stripe/checkout:
    post: { summary: Create a Checkout Session (idempotent). }
  /api/v1/stripe/connect/onboarding:
    post: { summary: Create a Connect Express onboarding link (idempotent). }
  /api/v1/stripe/portal:
    post: { summary: Mint a Stripe Billing Portal session for the caller's org and return its URL. Owners/admins only; lazy-creates a Stripe customer if the org hasn't transacted yet. }

  /api/v1/locations:
    get: { summary: Typeahead lookup over the org's saved locations. `?q=<search>` matches name/address/city; up to 25 results. }

  /api/v1/guides/comments:
    get:  { summary: List comments for a guide section. }
    post: { summary: Post a comment to a guide section. }

  /api/v1/guides/unlock:
    post: { summary: Redeem an access code for an internal-persona guide; sets a signed httpOnly cookie that unlocks that persona on /p/<slug>/guide. Rate-limited; tier-5 (guest/custom) personas are rejected. }

  /api/v1/me/api-keys:
    get:
      summary: List the caller's personal access tokens (never includes the secret).
      operationId: listApiKeys
      security:
        - supabaseSession: []
      responses:
        "200":
          description: All non-deleted tokens for the caller in their active org.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [keys]
                        properties:
                          keys:
                            type: array
                            items: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      summary: Issue a new personal access token. Plaintext returned ONCE; cookie-auth only.
      operationId: createApiKey
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateApiKeyRequest" }
            examples:
              ciBot:
                value:
                  name: "ci-deploy-bot"
                  scopes: ["projects:read", "projects:write"]
                  expiresAt: "2027-01-01T00:00:00Z"
      responses:
        "201":
          description: Token issued. Capture `data.token` immediately — it cannot be retrieved later.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CreateApiKeyResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/me/api-keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: Revoke a personal access token (soft-revoke; sets `revoked_at`).
      operationId: revokeApiKey
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Token revoked. Subsequent requests using it return 401.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, revoked]
                        properties:
                          id: { type: string, format: uuid }
                          revoked: { type: boolean, enum: [true] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/me:
    get: { summary: "Canonical session payload — userId, email, orgId, role, persona, tier — or 401 if signed out." }
  /api/v1/me/preferences:
    get:   { summary: Read the session's UI + locale preferences. }
    patch: { summary: Merge-update the session's preferences. }
  /api/v1/me/workspaces:
    get:   { summary: List every workspace the session user is a member of, plus the currently active one. }
    patch: { summary: Switch the active workspace by updating `last_org_id` on the user's preferences. }
  /api/v1/me/export:
    get: { summary: Download a GDPR JSON export of the session's data. }
  /api/v1/me/delete:
    post: { summary: Request account deletion with a 30-day grace window. }

  /api/v1/invoices/{invoiceId}/pdf:
    get: { summary: Render an invoice to PDF and 302-redirect to a signed download URL. }
  /api/v1/guides/{guideId}/pdf:
    get: { summary: Render an event guide to PDF (persona-scoped boarding pass) and 302-redirect to a signed download URL. }
  /api/v1/deliverables/{id}/pdf:
    get: { summary: Render a single deliverable (rider, plot, list, etc.) to a type-canonical PDF. }
  /api/v1/projects/{projectId}/advance-book:
    get: { summary: Compile every approved/submitted deliverable on a project into one branded advance-book PDF. }

  /api/v1/exports:
    get:  { summary: List the caller org's recent export runs. }
    post: { summary: Kick off a synchronous CSV or JSON export for a registry-whitelisted table. }
  /api/v1/exports/{id}/download:
    get: { summary: Re-mint a short-lived signed URL for a completed export run. }
  /api/v1/exports/osha:
    get: { summary: OSHA 300/300A/301-aligned CSV export of recordable incidents for the requested calendar `?year=`. Header row plus one CSV row per incident. }

  /api/v1/import/crew-members:
    post: { summary: Bulk-import a CSV of crew into the caller's org, deduped by email or (name, phone). }

  /api/v1/proposals/{proposalId}/pdf:
    get: { summary: Compile a proposal (cover + scope + pricing + signatures) into a branded PDF. }
  /api/v1/projects/{projectId}/call-sheet:
    get: { summary: Daily call sheet PDF — events + crew + venue + weather. `?variant=full|labor`. }
  /api/v1/projects/{projectId}/expense-report:
    get: { summary: Expense + time + mileage report PDF for a date range. }
  /api/v1/projects/{projectId}/task-report:
    get: { summary: Project task list / punch list PDF. }
  /api/v1/projects/{projectId}/signage-grid:
    get: { summary: Project-wide signage grid PDF aggregated from every signage_grid deliverable. }
  /api/v1/projects/{projectId}/wristbands:
    get: { summary: Printable 10-up QR wristband sheet for active tickets. }
  /api/v1/rentals/{rentalId}/pull-sheet:
    get: { summary: Rental checkout / equipment pull sheet PDF. }
  /api/v1/compliance/audit-export:
    get: { summary: Branded PDF dump of audit_log for a date range / actor filter — SOC-2 export shape. }
  /api/v1/brand-kit:
    get: { summary: Per-org brand kit PDF — accent color, typography, legal footer. }
  /api/v1/procurement/vendors/{vendorId}/rfp:
    post: { summary: Generate a branded Request-for-Proposal PDF for a vendor scoped to a project. }
  /api/v1/deliverables/{id}/version-diff:
    get: { summary: Structured diff of a deliverable's data jsonb between two audit-log snapshots. }
  /api/v1/users/{userId}/calendar.ics:
    get: { summary: Personal ICS subscribe URL — every event across the user's org memberships. }

  /api/v1/projects/{projectId}/archive:
    get: { summary: ZIP bundle — every org-scoped table's project rows + manifest.json. Opp #9. }
  /api/v1/projects/{projectId}/sponsor-deck:
    post: { summary: Generate a branded PPTX sponsor activation recap. Opp #23. }

  /api/v1/import/tasks:
    post: { summary: Bulk-import a CSV of tasks into a project. }
  /api/v1/import/vendors:
    post: { summary: Bulk-import a CSV of vendors into the caller's org. }

  /api/v1/deliverable-templates:
    get:  { summary: List deliverable (rider / plot / list) templates visible to the caller. Opp #12. }
    post: { summary: Create an org-scoped deliverable template. }
  /api/v1/stage-plots:
    get:  { summary: List stage plots for a project. Opp #11. }
    post: { summary: Create a stage plot row with interactive-editor state. }
  /api/v1/stage-plots/{id}:
    get:    { summary: Get a single stage plot. }
    patch:  { summary: Update a stage plot's name, dimensions, elements, or notes (editor save). }
    delete: { summary: Soft-delete a stage plot. }
  /api/v1/incidents:
    get:  { summary: List incidents for the caller's org (optionally filtered by project). Opp #18. }
    post: { summary: Log a new incident report with optional photo references. }
  /api/v1/incidents/photo-upload:
    post: { summary: Issue a signed upload URL into the `incident-photos` bucket scoped to a draft id. }
  /api/v1/email-templates:
    get:  { summary: List the org's transactional email templates. Opp #21. }
    post: { summary: Create an org-scoped email template with merge-tag schema. }
  /api/v1/email-templates/{id}:
    patch:  { summary: Update an org-scoped email template's name, subject, body, merge tags, or active flag. }
    delete: { summary: Soft-delete an org-scoped email template. }

  /api/v1/credentials/extract:
    post: { summary: AI-extract structured fields from COI or W-9 text. Opp #10. }

  /api/v1/notifications:
    get:   { summary: List the session user's 50 most recent notifications + unread count. }
    patch: { summary: Mark notifications as read by `ids[]` or `readAll=true`. }

  /api/v1/risks:
    get:  { summary: List RAID-register rows (risks/assumptions/issues/dependencies) for the caller's org. WF-006. }
    post: { summary: Create a new RAID entry with likelihood × impact scoring. WF-006. }

  /api/v1/accreditation/scan:
    post: { summary: Decision endpoint for COMPVSS gate scans — validates barcode, category, and zone privileges; writes access_scans audit row. WF-053. }

  /api/v1/crisis/alerts:
    get:  { summary: List crisis mass-notifications for the caller's org. WF-252. }
    post: { summary: Create and fan out a crisis alert to push/SMS/email channels by audience filter. WF-252. }

  /api/v1/privacy/dsar:
    get:  { summary: List DSAR requests visible to the caller (org members see all; data subjects see their own). WF-232. }
    post: { summary: Intake a new Data Subject Access Request with auto-computed 30-day SLA. WF-232. }

  /api/v1/shifts/checkin:
    post: { summary: Record a shift check-in / check-out / break-start / break-end on COMPVSS. WF-197. }

  /api/v1/openapi.json:
    get: { summary: Public OpenAPI 3.1 spec (this document) — cacheable for 5 min on browsers, 10 min on the edge. }

  /api/v1/automations/{automationId}/webhook:
    post: { summary: Inbound webhook trigger that fires the named automation (HMAC-signed; payload becomes the run input). }

  /api/v1/internal/automations/dispatch:
    post: { summary: Internal cron entrypoint — drains the automation run queue. Authenticated via cron token, not user session. }
  /api/v1/internal/automations/schedule:
    post: { summary: Internal cron entrypoint — fires scheduled-trigger automations whose next-run time is due. }

  /api/v1/share-links:
    get:  { summary: List active share links scoped to the caller's org. WF-share-1. }
    post: { summary: Mint a new share link (resource_table + resource_id + scopes + optional expiry/password). }
  /api/v1/share-links/{id}:
    delete: { summary: Revoke a share link. Subsequent lookups return 410 Gone. }

  /api/v1/push/subscriptions:
    get:    { summary: List the caller's web-push endpoints (one per browser/device). }
    post:   { summary: Register a new web-push endpoint (subscribed via the in-page push prompt). }
    delete: { summary: Unsubscribe a single endpoint by id, or `?all=1` to clear every endpoint for the caller. }
  /api/v1/push/test:
    post: { summary: Send a test push to every active endpoint for the caller — verifies VAPID + subscription health. }

  /api/v1/integrations/slack/install:
    get: { summary: Begin the Slack OAuth install flow — redirects the user to slack.com with the workspace's state token. }
  /api/v1/integrations/slack/callback:
    get: { summary: Slack OAuth callback. Exchanges code → bot token, persists workspace, redirects to /console/integrations. }
  /api/v1/integrations/slack/uninstall:
    post: { summary: Disconnect the calling org from its Slack workspace and revoke the stored bot token. }
  /api/v1/integrations/slack/events:
    post: { summary: Slack Events API receiver. Verifies HMAC signature; handles url_verification, app_uninstalled, message events. }

  /api/v1/zapier/auth/test:
    get: { summary: Zapier auth-test endpoint — validates the Bearer PAT and returns the resolved org name + user email. }
  /api/v1/zapier/actions/create-project:
    post: { summary: Zapier action — create a project in the caller's org. }
  /api/v1/zapier/actions/create-task:
    post: { summary: Zapier action — create a task (optionally scoped to a project). }
  /api/v1/zapier/triggers/projects:
    get: { summary: Zapier polling trigger — recent projects for the caller's org. }
  /api/v1/zapier/triggers/deliverables:
    get: { summary: Zapier polling trigger — recent deliverables for the caller's org. }
  /api/v1/zapier/triggers/invoices:
    get: { summary: Zapier polling trigger — recent invoices for the caller's org. }
  /api/v1/zapier/triggers/assignment-scans:
    get: { summary: Zapier polling trigger — recent assignment scan events for the caller's org (replaces ticket-scans; covers every catalog kind). }

  /api/v1/ai/embed-source:
    post: { summary: Index a document into the RAG corpus. Accepts rendered text + source metadata; idempotent on (org, source_type, source_id). }

  /api/v1/bim/{modelId}/download:
    get: { summary: Mint a 60-second signed URL for the underlying IFC/RVT/NWD file and 303-redirect. Service-role-write-only bucket; read-only endpoint. }

  /api/v1/daily-logs/{id}/refresh-weather:
    post: { summary: Pull NWS weather snapshot for the daily log's date + project coordinates; writes back into daily_logs.weather_*. Idempotent. }

  /api/v1/pay-apps/{payAppId}/pdf:
    get: { summary: Render the pay application as an AIA G702 + G703 PDF and 302-redirect to a short-lived signed URL. }

  /api/v1/payroll-runs/{runId}/pdf:
    get: { summary: Render the payroll run as a WH-347 certified payroll PDF and 302-redirect to a short-lived signed URL. }

  /api/v1/wip/snapshot-pdf:
    get: { summary: Render the org-wide WIP report for a given snapshot date (?date=YYYY-MM-DD) and 302-redirect to a short-lived signed URL. }
