openapi: 3.1.0
info:
  title: ATLVS API
  version: v1
  description: |
    Unified production platform API. Every response body follows the envelope
    in `components.schemas.ApiEnvelope`. Treat this file as the source of
    truth — a CI drift test (`tests/unit/openapi-drift.spec.ts`) asserts that
    every `src/app/api/v1/**/route.ts` handler exists in `paths` and vice
    versa. Add new routes here FIRST, then implement.

servers:
  - url: https://atlvs.pro
    description: Production
  - url: http://localhost:3000
    description: Local dev

security:
  - supabaseSession: []
  - bearerToken: []

components:
  securitySchemes:
    supabaseSession:
      type: apiKey
      in: cookie
      name: sb-xrovijzjbyssajhtwvas-auth-token
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: sk_<prefix>_<secret>
      description: |
        Org-scoped programmatic access token issued via
        `POST /api/v1/me/api-keys` or the console at `/console/settings/api`.
        The plaintext is returned ONCE at creation. Pass as
        `Authorization: Bearer sk_<prefix>_<secret>` on any /api/v1 request;
        the verifier resolves the token to the issuing user's role and the
        token's org. Revoke with `DELETE /api/v1/me/api-keys/{id}`. Tokens
        with a null `created_by` (e.g. legacy seeds) cannot be used for
        request auth.
    idempotencyKey:
      type: apiKey
      in: header
      name: Idempotency-Key

  schemas:
    PayrollExport:
      type: object
      description: >
        One attempt to send a payroll run to a provider. Keyed on the run's
        payable content, so a retry after a timeout — the case where you
        don't know whether the provider received it — collides rather than
        paying twice.
      properties:
        id: { type: string, format: uuid }
        provider: { type: string }
        export_state:
          type: string
          enum: [queued, sent, confirmed, partial, failed, cancelled]
          description: >
            `partial` is distinct from `failed`: some lines were accepted and
            are already paid. Retry only the rejected ones — never re-send an
            accepted line.
        attempts: { type: integer }
        external_batch_id: { type: string, nullable: true }
        line_count: { type: integer, nullable: true }
        accepted_count: { type: integer, nullable: true }
        rejected_count: { type: integer, nullable: true }
        last_error: { type: string, nullable: true }
        sent_at: { type: string, format: date-time, nullable: true }
        confirmed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    TimeCorrection:
      type: object
      description: >
        A worker-initiated request to correct a time entry. Filing one never
        mutates the punch; a manager decides it and the applier writes the
        entry in one transaction. `applied` is deliberately distinct from
        `approved` — approval is a decision, application is a database effect
        that can fail (e.g. the sheet was posted).
      properties:
        id: { type: string, format: uuid }
        time_entry_id:
          type: string
          format: uuid
          nullable: true
          description: Null only for `missing_entry`, where no punch exists yet.
        timesheet_id: { type: string, format: uuid, nullable: true }
        requester_id: { type: string, format: uuid }
        correction_kind:
          type: string
          enum: [edit_in, edit_out, edit_both, missing_entry, delete_entry, zone_override]
        correction_state:
          type: string
          enum: [requested, approved, denied, applied, withdrawn]
        reason: { type: string }
        original_started_at: { type: string, format: date-time, nullable: true }
        original_ended_at: { type: string, format: date-time, nullable: true }
        proposed_started_at: { type: string, format: date-time, nullable: true }
        proposed_ended_at: { type: string, format: date-time, nullable: true }
        decided_by:
          type: string
          format: uuid
          nullable: true
          description: Never equal to `requester_id` — separation of duties is enforced at the database.
        decided_at: { type: string, format: date-time, nullable: true }
        decision_notes: { type: string, nullable: true }
        applied_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    ApiEnvelope:
      oneOf:
        - $ref: "#/components/schemas/ApiOk"
        - $ref: "#/components/schemas/ApiError"
    ApiOk:
      type: object
      required: [ok, data]
      properties:
        ok: { type: boolean, enum: [true] }
        data: {}
    ApiError:
      type: object
      required: [ok, error]
      properties:
        ok: { type: boolean, enum: [false] }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [bad_request, unauthorized, forbidden, not_found, conflict, rate_limited, internal, service_unavailable]
            message: { type: string }
            details: {}

    Project:
      type: object
      required: [id, org_id, slug, name, created_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        slug: { type: string, example: "mmw26-hialeah" }
        name: { type: string, example: "MMW26 Hialeah" }
        description: { type: string, nullable: true }
        start_date: { type: string, format: date, nullable: true }
        end_date: { type: string, format: date, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateProjectRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 120, example: "Salvage City EDCLV26" }
        description: { type: string, maxLength: 2000 }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        slug: { type: string, pattern: "^[a-z0-9-]+$", maxLength: 48 }

    PageEnvelope:
      type: object
      required: [orgId, projects, nextCursor, pageSize, totalCount]
      properties:
        orgId: { type: string, format: uuid }
        projects:
          type: array
          items: { $ref: "#/components/schemas/Project" }
        nextCursor: { type: string, nullable: true, description: "Opaque cursor; pass back as `?cursor=` to fetch the next page." }
        pageSize: { type: integer, minimum: 1, maximum: 100 }
        totalCount: { type: integer, minimum: 0 }

    ApiKey:
      type: object
      required: [id, name, prefix, scopes, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "ci-deploy-bot" }
        prefix: { type: string, example: "sk_a1b2c3d4", description: "Non-secret token handle (sk_ + 8 chars); safe to display." }
        scopes:
          type: array
          items: { type: string }
          example: ["projects:read"]
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        created_by: { type: string, format: uuid, nullable: true }

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 80, example: "ci-deploy-bot" }
        scopes:
          type: array
          maxItems: 32
          items: { type: string, maxLength: 64 }
          example: ["projects:read", "projects:write"]
        expiresAt: { type: string, format: date-time, description: "ISO-8601 expiry. Omit for non-expiring tokens." }

    CreateApiKeyResponse:
      type: object
      required: [key, token]
      properties:
        key: { $ref: "#/components/schemas/ApiKey" }
        token:
          type: string
          example: "sk_a1b2c3d4_x9YgQ8s-Q7QwY..."
          description: "Plaintext token. Returned ONLY once at creation — store it now."

    MarketplaceListing:
      type: object
      required: [id, org_id, seller_user_id, title, currency, listing_state, created_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        seller_user_id: { type: string, format: uuid }
        title: { type: string, example: "Shure SM58 (x4)" }
        description: { type: string, nullable: true }
        price_cents: { type: integer, nullable: true, example: 24000 }
        currency: { type: string, example: "USD" }
        item_condition: { type: string, nullable: true, enum: [new, like_new, used, for_parts] }
        category: { type: string, nullable: true }
        listing_state: { type: string, enum: [draft, active, sold, withdrawn] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateMarketplaceListingRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1, maxLength: 200, example: "Shure SM58 (x4)" }
        description: { type: string, maxLength: 8000 }
        priceCents: { type: integer, minimum: 0, example: 24000 }
        currency: { type: string, minLength: 3, maxLength: 3, example: "USD" }
        itemCondition: { type: string, enum: [new, like_new, used, for_parts] }
        category: { type: string, maxLength: 120 }
        listingState: { type: string, enum: [draft, active, sold, withdrawn] }

    Handover:
      type: object
      required: [id, org_id, post_state, summary, created_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        project_id: { type: string, format: uuid, nullable: true }
        from_user_id: { type: string, format: uuid, nullable: true }
        to_user_id: { type: string, format: uuid, nullable: true }
        relief_label: { type: string, nullable: true }
        post_state: { type: string, enum: [all_clear, watch_items, issues] }
        summary: { type: string }
        open_items: { type: string, nullable: true }
        assets_passed: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateHandoverRequest:
      type: object
      required: [summary]
      properties:
        projectId: { type: string, format: uuid }
        reliefLabel: { type: string, maxLength: 200 }
        postState: { type: string, enum: [all_clear, watch_items, issues], default: all_clear }
        summary: { type: string, minLength: 1, maxLength: 8000 }
        openItems: { type: string, maxLength: 8000 }
        assetsPassed: { type: string, maxLength: 8000 }

    ShiftNote:
      type: object
      required: [id, org_id, time_entry_id, body, as_manager, created_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string, format: uuid }
        time_entry_id: { type: string, format: uuid }
        author_id: { type: string, format: uuid, nullable: true }
        body: { type: string }
        as_manager: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateShiftNoteRequest:
      type: object
      required: [timeEntryId, body]
      properties:
        timeEntryId: { type: string, format: uuid }
        body: { type: string, minLength: 1, maxLength: 8000 }
        asManager: { type: boolean, default: false }

    TaskComment:
      type: object
      required: [id, task_id, body, created_at]
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        author_id: { type: string, format: uuid, nullable: true }
        body: { type: string }
        mentions:
          type: array
          items: { type: string, format: uuid }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateTaskCommentRequest:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 8000 }
        mentions:
          type: array
          maxItems: 50
          items: { type: string, format: uuid }

    TaskEvent:
      type: object
      required: [id, task_id, event_kind, created_at]
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        event_kind: { type: string, enum: [created, state_change, assigned, comment, attachment, due_change] }
        from_state: { type: string, nullable: true }
        to_state: { type: string, nullable: true }
        actor_id: { type: string, format: uuid, nullable: true }
        body: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Opaque pagination cursor returned by the previous page's `nextCursor`.
    PageSize:
      name: pageSize
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 256 }
      description: |
        Stripe-style idempotency. Replaying with the same key + same body
        returns the original response (with `idempotency-replay: true`).
        Replaying with the same key but a different body returns 409 conflict.

  headers:
    XRequestId:
      schema: { type: string }
      description: Server-assigned request ID; echo this when filing support tickets.
    XRateLimitRemaining:
      schema: { type: integer }
      description: Requests left in the current window.
    XRateLimitReset:
      schema: { type: integer }
      description: Unix-ms timestamp when the window resets.
    RetryAfter:
      schema: { type: integer }
      description: Seconds to wait before retrying. Sent on 429 responses.

  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    Forbidden:
      description: Authenticated but the role/capability is insufficient.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    NotFound:
      description: Resource does not exist or is not visible to the caller.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    BadRequest:
      description: Validation failed; `error.details` contains per-field issues.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    Conflict:
      description: Request conflicts with current state (e.g. duplicate slug, idempotency-key reused).
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    RateLimited:
      description: Per-bucket budget exceeded.
      headers:
        Retry-After: { $ref: "#/components/headers/RetryAfter" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/XRateLimitRemaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/XRateLimitReset" }
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }

paths:
  /api/v1/health:
    get:
      operationId: getHealth
      summary: Legacy composite health ping (kept for backwards compat).
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/liveness:
    get:
      operationId: getHealthLiveness
      summary: Liveness probe. Always 200 if the process is up.
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
  /api/v1/health/readiness:
    get:
      operationId: getHealthReadiness
      summary: Readiness probe. 200 iff DB reachable + env complete.
      responses:
        "200": { description: ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "500": { description: not ready, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }

  /api/v1/setup:
    get:
      operationId: getSetup
      summary: Org activation checklist (create project → import → invite → go live), derived live from real data.
      responses:
        "200": { description: activation progress, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { description: unauthorized, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/inbox:
    get:
      operationId: getInbox
      summary: Unified per-user triage inbox — unread notifications + the viewer's own not-done tasks.
      responses:
        "200": { description: inbox items, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { description: unauthorized, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/ai/copilot:
    post:
      operationId: postAiCopilot
      summary: Grounded Copilot answer — answers only from the org's indexed RAG corpus, with real citations + a confidence grade.
      responses:
        "200": { description: grounded answer, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { description: unauthorized, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
        "503": { description: AI not configured, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/telemetry/marketing:
    post:
      operationId: postTelemetryMarketing
      summary: Anonymous marketing telemetry beacon (M3-05 / IK-039). Writes events into usage_events under the system org.
      security: []
      responses:
        "200": { description: received, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "400": { description: invalid event or payload too large, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/projects:
    get:
      summary: List projects visible to the caller's org.
      operationId: listProjects
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Page of projects. `X-Total-Count` mirrors `data.totalCount`.
          headers:
            X-Total-Count:
              schema: { type: integer }
              description: Total projects in the org (not just this page).
            X-Request-Id: { $ref: "#/components/headers/XRequestId" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PageEnvelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
    post:
      summary: Create a project. Idempotent when `Idempotency-Key` is provided.
      operationId: createProject
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProjectRequest" }
            examples:
              minimal:
                value: { name: "MMW26 Hialeah" }
              fullySpecified:
                value:
                  name: "Salvage City EDCLV26"
                  description: "Day-of-show ops for EDC LV 2026"
                  startDate: "2026-05-15"
                  endDate: "2026-05-18"
                  slug: "salvage-city-edclv26"
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/projects/{projectId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a project by id.
      operationId: getProject
      responses:
        "200":
          description: The project.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      summary: Update a project (partial).
      operationId: updateProject
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                description: { type: string, maxLength: 2000 }
                startDate: { type: string, format: date }
                endDate: { type: string, format: date }
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/notifications/actions:
    post:
      summary: Execute an actionable-notification action (approve/decline time-off, approve deliverable). Called by the service worker on action-button tap. P2.a.
      operationId: postNotificationsActions
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/scan:
    post:
      summary: Unified scan resolver. Resolves assignment codes (any catalog kind — ticket, credential, wristband, vehicle, etc.; race-safe via assignment_scan_codes unique partial index), asset tags (read-only identification), and — in pos/any mode with scan:product — retail GTINs via catalog_item_gtins, returning `result:"product"` with the matched catalog item (gtin14, displayName, matchSource) plus its open approved advance lines (openLines[] with party/project names). Unknown codes journal to scan_unknowns.
      operationId: postScan
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/equipment/scan:
    post:
      summary: Scan an equipment asset tag to toggle / check-in / check-out. Emits status updates.
      operationId: postEquipmentScan
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/deliverables/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Redirect to a signed URL for a deliverable file.
      operationId: getDeliverablesByIdDownload
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/deliverables/{id}/transition:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Drive a deliverable through the advancing state machine (canonical NEXT_FULFILLMENT_STATES map, e.g. submitted → in_review → approved → delivered). Producer-side personas only.
      operationId: postDeliverablesByIdTransition
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/ai/chat:
    post:
      summary: Streaming chat completion.
      operationId: postAiChat
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/ai/transcribe:
    get:
      summary: Feature probe — whether server-side speech-to-text is configured ({ enabled }).
      operationId: getAiTranscribe
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Transcribe a raw audio body (audio/webm or audio/mp4, max 10 MB) to text for field dictation.
      operationId: postAiTranscribe
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { description: Transcription not configured, content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } } }
  /api/v1/ai/propose:
    post:
      summary: Generate an AI proposal draft (persists an ai_proposal_drafts row).
      operationId: postAiPropose
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/ai/conversations:
    get:
      summary: List conversations for the session. Creation is implicit via /api/v1/ai/chat.
      operationId: getAiConversations
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/ai/conversations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get a conversation + messages.
      operationId: getAiConversationsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      summary: Delete a conversation.
      operationId: deleteAiConversationsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/schedule.ics:
    get:
      summary: iCalendar feed for the session's events.
      operationId: getScheduleIcs
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/webhooks/stripe:
    post:
      summary: Stripe webhook receiver (HMAC-verified, idempotent).
      operationId: postWebhooksStripe
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/webhooks/endpoints:
    get:
      summary: List outbound webhook endpoints registered for the caller's org.
      operationId: getWebhooksEndpoints
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Register a new outbound webhook endpoint; returns the HMAC signing secret once.
      operationId: postWebhooksEndpoints
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/webhooks/endpoints/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    patch:
      summary: Update an endpoint's URL, event allowlist, description, or active flag.
      operationId: patchWebhooksEndpointsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      summary: Soft-delete a webhook endpoint.
      operationId: deleteWebhooksEndpointsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/auth/oauth:
    get:
      summary: Initiate Supabase OAuth; redirects to provider.
      operationId: getAuthOauth
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/auth/webauthn/register/options:
    post:
      summary: Generate WebAuthn registration options + challenge.
      operationId: postAuthWebauthnRegisterOptions
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/auth/webauthn/register/verify:
    post:
      summary: Verify WebAuthn attestation + persist credential.
      operationId: postAuthWebauthnRegisterVerify
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/auth/webauthn/credentials:
    get:
      summary: List the session's registered passkeys.
      operationId: getAuthWebauthnCredentials
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    delete:
      summary: Revoke a passkey by credential id.
      operationId: deleteAuthWebauthnCredentials
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/stripe/checkout:
    post:
      summary: Create a Checkout Session (idempotent).
      operationId: postStripeCheckout
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/stripe/credits-checkout:
    post:
      summary: "LEG3ND credit-pack self-serve checkout (idempotent): records a pending credit_orders row for the given creditProductId and returns a Stripe Checkout session URL; the webhook credits the ledger on payment."
      operationId: postStripeCreditsCheckout
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/stripe/connect/onboarding:
    post:
      summary: Create a Connect Express onboarding link (idempotent).
      operationId: postStripeConnectOnboarding
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/stripe/portal:
    post:
      summary: Mint a Stripe Billing Portal session for the caller's org and return its URL. Owners/admins only; lazy-creates a Stripe customer if the org hasn't transacted yet.
      operationId: postStripePortal
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/locations:
    get:
      summary: Typeahead lookup over the org's saved locations. `?q=<search>` matches name/address/city; up to 25 results.
      operationId: getLocations
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/guides/comments:
    get:
      summary: List comments for a guide section.
      operationId: getGuidesComments
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Post a comment to a guide section.
      operationId: postGuidesComments
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/guides/unlock:
    post:
      summary: Redeem an access code for an internal-persona guide; sets a signed httpOnly cookie that unlocks that persona on /p/<slug>/guide. Rate-limited; tier-5 (guest/custom) personas are rejected.
      operationId: postGuidesUnlock
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/me/api-keys:
    get:
      summary: List the caller's personal access tokens (never includes the secret).
      operationId: listApiKeys
      security:
        - supabaseSession: []
      responses:
        "200":
          description: All non-deleted tokens for the caller in their active org.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [keys]
                        properties:
                          keys:
                            type: array
                            items: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Issue a new personal access token. Plaintext returned ONCE; cookie-auth only.
      operationId: createApiKey
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateApiKeyRequest" }
            examples:
              ciBot:
                value:
                  name: "ci-deploy-bot"
                  scopes: ["projects:read", "projects:write"]
                  expiresAt: "2027-01-01T00:00:00Z"
      responses:
        "201":
          description: Token issued. Capture `data.token` immediately — it cannot be retrieved later.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CreateApiKeyResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/me/api-keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: Revoke a personal access token (soft-revoke; sets `revoked_at`).
      operationId: revokeApiKey
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Token revoked. Subsequent requests using it return 401.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, revoked]
                        properties:
                          id: { type: string, format: uuid }
                          revoked: { type: boolean, enum: [true] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/me:
    get:
      summary: "Canonical session payload — userId, email, orgId, role, persona, tier — or 401 if signed out."
      operationId: getMe
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/me/preferences:
    get:
      summary: Read the session's UI + locale preferences.
      operationId: getMePreferences
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      summary: Merge-update the session's preferences.
      operationId: patchMePreferences
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/me/workspaces:
    get:
      summary: List every workspace the session user is a member of, plus the currently active one.
      operationId: getMeWorkspaces
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      summary: Switch the active workspace by updating `last_org_id` on the user's preferences.
      operationId: patchMeWorkspaces
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/me/entitlements:
    get:
      summary: "Ecosystem app entitlements for the global App Rail — the apps the session user can reach with access level ({ apps: [{id, access}] }). SSOT for the cross-product switcher."
      operationId: getMeEntitlements
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/me/switcher:
    get:
      summary: "COMPVSS workspace/project switcher catalog — the session user's orgs, the active org's projects, and their client/venue labels. Fetched lazily by the /m switcher sheet on first open (deferred off the mobile layout's per-nav reads)."
      operationId: getMeSwitcher
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/me/export:
    get:
      summary: Download a GDPR JSON export of the session's data.
      operationId: getMeExport
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/me/delete:
    post:
      summary: Request account deletion with a 30-day grace window.
      operationId: postMeDelete
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/invoices/{invoiceId}/pdf:
    parameters:
      - name: invoiceId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Render an invoice to PDF and 302-redirect to a signed download URL.
      operationId: getInvoicesByInvoiceIdPdf
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/guides/{guideId}/pdf:
    parameters:
      - name: guideId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Render an event guide to PDF (persona-scoped boarding pass) and 302-redirect to a signed download URL.
      operationId: getGuidesByGuideIdPdf
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/deliverables/{id}/pdf:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Render a single deliverable (rider, plot, list, etc.) to a type-canonical PDF.
      operationId: getDeliverablesByIdPdf
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/advance-book:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Compile every approved/submitted deliverable on a project into one branded advance-book PDF.
      operationId: getProjectsByProjectIdAdvanceBook
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/projects/{projectId}/advance-packets:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: "The project's advance packet graph: packet, sections, audiences, and the section × audience assignment matrix. Scope: advancing:read."
      operationId: getProjectsByProjectIdAdvancePackets
      responses:
        "200":
          description: Advance packet graph (packet is null when none exists).
          content:
            application/json:
              schema:
                type: object
                properties:
                  packet: { type: object, nullable: true }
                  sections: { type: array, items: { type: object } }
                  audiences: { type: array, items: { type: object } }
                  assignments: { type: array, items: { type: object } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: "Create the project's advance packet shell (one packet per project, versioned). Scope: advancing:write, manager+."
      operationId: postProjectsByProjectIdAdvancePackets
      responses:
        "201":
          description: Created packet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  packet: { type: object }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/advance-batches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: "One merge run's tracking board: batch header plus per-recipient delivery funnel state (portal tokens are never exposed). Scope: advancing:read."
      operationId: getAdvanceBatchesById
      responses:
        "200":
          description: Batch with recipients.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batch: { type: object }
                  recipients: { type: array, items: { type: object } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/exports:
    get:
      summary: List the caller org's recent export runs.
      operationId: getExports
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Kick off a synchronous CSV or JSON export for a registry-whitelisted table.
      operationId: postExports
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/exports/{id}/download:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Re-mint a short-lived signed URL for a completed export run.
      operationId: getExportsByIdDownload
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/exports/osha:
    get:
      summary: OSHA 300/300A/301-aligned CSV export of recordable incidents for the requested calendar `?year=`. Header row plus one CSV row per incident.
      operationId: getExportsOsha
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/import/crew-members:
    post:
      summary: Bulk-import a CSV of crew into the caller's org, deduped by email or (name, phone).
      operationId: postImportCrewMembers
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/projects/{projectId}/call-sheet:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Daily call sheet PDF — events + crew + venue + weather. `?variant=full|labor`.
      operationId: getProjectsByProjectIdCallSheet
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/expense-report:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Expense + time + mileage report PDF for a date range.
      operationId: getProjectsByProjectIdExpenseReport
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/task-report:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Project task list / punch list PDF.
      operationId: getProjectsByProjectIdTaskReport
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/signage-grid:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Project-wide signage grid PDF aggregated from every signage_grid deliverable.
      operationId: getProjectsByProjectIdSignageGrid
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/wristbands:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Printable 10-up QR wristband sheet for active tickets.
      operationId: getProjectsByProjectIdWristbands
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/rentals/{rentalId}/pull-sheet:
    parameters:
      - name: rentalId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Rental checkout / equipment pull sheet PDF.
      operationId: getRentalsByRentalIdPullSheet
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/compliance/audit-export:
    get:
      summary: Branded PDF dump of audit_log for a date range / actor filter — SOC-2 export shape.
      operationId: getComplianceAuditExport
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/brand-kit:
    get:
      summary: Per-org brand kit PDF — accent color, typography, legal footer.
      operationId: getBrandKit
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/procurement/vendors/{vendorId}/rfp:
    parameters:
      - name: vendorId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Generate a branded Request-for-Proposal PDF for a vendor scoped to a project.
      operationId: postProcurementVendorsByVendorIdRfp
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/deliverables/{id}/version-diff:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Structured diff of a deliverable's data jsonb between two audit-log snapshots.
      operationId: getDeliverablesByIdVersionDiff
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/users/{userId}/calendar.ics:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Personal ICS subscribe URL — every event across the user's org memberships.
      operationId: getUsersByUserIdCalendarIcs
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/projects/{projectId}/archive:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    get:
      summary: ZIP bundle — every org-scoped table's project rows + manifest.json. Opp #9.
      operationId: getProjectsByProjectIdArchive
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/projects/{projectId}/sponsor-deck:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string }
    post:
      summary: Generate a branded PPTX sponsor activation recap. Opp #23.
      operationId: postProjectsByProjectIdSponsorDeck
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/import/tasks:
    post:
      summary: Bulk-import a CSV of tasks into a project.
      operationId: postImportTasks
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/import/vendors:
    post:
      summary: Bulk-import a CSV of vendors into the caller's org.
      operationId: postImportVendors
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/deliverable-templates:
    get:
      summary: List deliverable (rider / plot / list) templates visible to the caller. Opp #12.
      operationId: getDeliverableTemplates
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create an org-scoped deliverable template.
      operationId: postDeliverableTemplates
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/stage-plots:
    get:
      summary: List stage plots for a project. Opp #11.
      operationId: getStagePlots
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create a stage plot row with interactive-editor state.
      operationId: postStagePlots
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/stage-plots/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get a single stage plot.
      operationId: getStagePlotsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      summary: Update a stage plot's name, dimensions, elements, or notes (editor save).
      operationId: patchStagePlotsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      summary: Soft-delete a stage plot.
      operationId: deleteStagePlotsById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/incidents:
    get:
      summary: List incidents for the caller's org (optionally filtered by project). Opp #18.
      operationId: getIncidents
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Log a new incident report with optional photo references.
      operationId: postIncidents
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/incidents/photo-upload:
    post:
      summary: Issue a signed upload URL into the `incident-photos` bucket scoped to a draft id.
      operationId: postIncidentsPhotoUpload
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/branding/upload:
    post:
      summary: Issue a signed upload URL into the public `branding` bucket and return the public logo URL for org/client/project/proposal co-branding.
      operationId: postBrandingUpload
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/email-templates:
    get:
      summary: List the org's transactional email templates. Opp #21.
      operationId: getEmailTemplates
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create an org-scoped email template with merge-tag schema.
      operationId: postEmailTemplates
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/email-templates/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    patch:
      summary: Update an org-scoped email template's name, subject, body, merge tags, or active flag.
      operationId: patchEmailTemplatesById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      summary: Soft-delete an org-scoped email template.
      operationId: deleteEmailTemplatesById
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/credentials/extract:
    post:
      summary: AI-extract structured fields from COI or W-9 text. Opp #10.
      operationId: postCredentialsExtract
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/notifications:
    get:
      summary: List the session user's 50 most recent notifications + unread count.
      operationId: getNotifications
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    patch:
      summary: Mark notifications as read by `ids[]` or `readAll=true`.
      operationId: patchNotifications
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/risks:
    get:
      summary: List RAID-register rows (risks/assumptions/issues/dependencies) for the caller's org. WF-006.
      operationId: getRisks
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create a new RAID entry with likelihood × impact scoring. WF-006.
      operationId: postRisks
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/accreditation/scan:
    post:
      summary: Decision endpoint for COMPVSS gate scans — validates barcode, category, and zone privileges; writes access_scans audit row. WF-053.
      operationId: postAccreditationScan
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/crisis/alerts:
    get:
      summary: List crisis mass-notifications for the caller's org. WF-252.
      operationId: getCrisisAlerts
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create and fan out a crisis alert to push/SMS/email channels by audience filter. WF-252.
      operationId: postCrisisAlerts
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/privacy/dsar:
    get:
      summary: List DSAR requests visible to the caller (org members see all; data subjects see their own). WF-232.
      operationId: getPrivacyDsar
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Intake a new Data Subject Access Request with auto-computed 30-day SLA. WF-232.
      operationId: postPrivacyDsar
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/shifts/checkin:
    post:
      summary: Record a shift check-in / check-out / break-start / break-end on COMPVSS. WF-197.
      operationId: postShiftsCheckin
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/time/clock:
    post:
      summary: Free personal time-clock punch (COMPVSS /m/clock + /m/punch) — opens/closes a bare time_entries row for the caller, no scheduled shift required. Offline-queueable; optional lat/lng drives geofence zone classification.
      operationId: postTimeClock
      responses:
        "200": { description: ok, content: { application/json: { schema: { $ref: "#/components/schemas/ApiEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/pay-periods:
    get:
      summary: "The org's pay calendar. A period is the unit a timesheet is compiled for. Scope: time:read."
      operationId: listPayPeriods
      parameters:
        - name: state
          in: query
          required: false
          schema: { type: string, enum: [open, locked, posted] }
      responses:
        "200":
          description: Pay periods, newest first.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          payPeriods: { type: array, items: { type: object } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      summary: "Open a pay period. Admin band — managers approve hours, they don't decide which week those hours belong to. Scope: payroll:post."
      operationId: createPayPeriod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [periodStart, periodEnd]
              properties:
                periodStart: { type: string, format: date }
                periodEnd: { type: string, format: date }
      responses:
        "201": { description: The pay period. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: That pay period already exists. }

  /api/v1/pay-periods/{periodId}/compile:
    post:
      summary: "Gather closed punches into one timesheet per worker for the period, stamping time_entries.timesheet_id. Idempotent — safe and intended to re-run as late offline punches replay. Scope: time:approve."
      operationId: compilePayPeriod
      parameters:
        - name: periodId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: How many sheets and entries the compile touched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          compiled:
                            type: object
                            properties:
                              sheets: { type: integer }
                              entries_linked: { type: integer }
                          message: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { description: Pay period not found. }
        "409": { description: The period is locked or posted. }

  /api/v1/time/entries/{id}:
    patch:
      summary: "Manager punch edit. The reason is mandatory and lands on the append-only audit row. Refused on a posted timesheet — re-open it first. Scope: time:edit."
      operationId: editTimeEntry
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 10, maxLength: 2000 }
                startedAt: { type: string, format: date-time }
                endedAt: { type: string, format: date-time, nullable: true }
                zoneId: { type: string, format: uuid }
                clearException:
                  type: boolean
                  description: Clear a quarantined/warned geofence exception as part of the edit.
      responses:
        "200": { description: Edited, and audited. }
        "400": { description: No reason, nothing to change, or the shift would end before it starts. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not a manager, or the entry belongs to a posted timesheet. }
        "404": { description: Time entry not found. }

  /api/v1/timesheets/{id}/post:
    post:
      summary: "Post an approved timesheet to a payroll run, computing the REG/OT/DT split under the org's ot_rule_set and writing payroll_run_lines. Admin band. Re-posting replaces that sheet's lines rather than appending. Scope: payroll:post."
      operationId: postTimesheet
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payrollRunId]
              properties:
                payrollRunId: { type: string, format: uuid }
                timeZone:
                  type: string
                  description: IANA zone the worker's days are measured in. Wrong here means wrong daily-overtime boundaries under CA rules, so it is explicit rather than guessed.
                weekStartsOn: { type: integer, minimum: 0, maximum: 6 }
      responses:
        "200":
          description: Posted, with the hour split that was written.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          result: { type: object }
                          totalHours: { type: number }
                          otRuleSet:
                            type: string
                            enum: [flsa, ca, none]
                            description: Which rules produced this split. `none` means the hours are raw and your HR system owes the overtime calculation.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Posting is admin band. }
        "404": { description: Timesheet not found. }
        "409": { description: Not approved, no closed entries, or no payable hours. }

  /api/v1/payroll-runs/{runId}/export:
    get:
      summary: "The run's export history, newest first. Scope: payroll:read."
      operationId: listPayrollExports
      parameters:
        - name: runId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Past exports of this run.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          exports:
                            type: array
                            items: { $ref: "#/components/schemas/PayrollExport" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: "Export a payroll run to a provider. Idempotent on the run's payable CONTENT: re-exporting unchanged content returns the existing export (200) and never sends twice; changing an hour mints a new export (201). Admin band. Scope: payroll:export."
      operationId: exportPayrollRun
      parameters:
        - name: runId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  default: csv
                  description: >
                    `csv` is the universal driver — it works with every payroll
                    system today, with no partnership or certification. Native
                    API drivers register as they clear those gates.
      responses:
        "200":
          description: >
            This exact content was already exported. The original export is
            returned and nothing was sent again — `idempotent` is true.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          export: { $ref: "#/components/schemas/PayrollExport" }
                          idempotent: { type: boolean, enum: [true] }
                          message: { type: string }
        "201":
          description: Exported. File-drop drivers return the artifact to deliver.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          export: { $ref: "#/components/schemas/PayrollExport" }
                          artifact:
                            type: object
                            nullable: true
                            properties:
                              filename: { type: string }
                              contentType: { type: string }
                              body: { type: string }
                          idempotent: { type: boolean, enum: [false] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Exporting is admin band — approving hours and paying them are separate authorities. }
        "404": { description: Payroll run not found. }
        "422":
          description: >
            Refused before sending. Typically a worker with no
            `hr_worker_links` entry for this provider, a run with no lines, or
            a zero-hour line. A payroll import that half-works is worse than
            one that doesn't run.

  /api/v1/timesheets/{id}/submit:
    post:
      summary: "Hand a timesheet in for review (open|rejected -> submitted). The worker's own act; a manager may submit on their behalf. Refused while the sheet has corrections awaiting a decision. Scope: time:write."
      operationId: submitTimesheet
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The submitted sheet, with its derived totals.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          timesheet:
                            type: object
                            properties:
                              id: { type: string, format: uuid }
                              state: { type: string, enum: [submitted] }
                              submitted_at: { type: string, format: date-time }
                              total_minutes: { type: integer }
                              billable_minutes: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: You can only submit your own timesheet. }
        "404": { description: Timesheet not found. }
        "409": { description: Not submittable from its current state, or corrections are still pending. }

  /api/v1/time/corrections:
    get:
      summary: "List time-correction requests. A worker sees their own; the manager band sees the org queue (pass `?mine=1` to narrow to their own). Optional `?state=` filter. Scope: time:read."
      operationId: listTimeCorrections
      parameters:
        - name: state
          in: query
          required: false
          schema: { type: string, enum: [requested, approved, denied, applied, withdrawn] }
          description: Filter by correction_state.
        - name: mine
          in: query
          required: false
          schema: { type: string, enum: ["1"] }
          description: Manager-band callers only — narrow the org queue to their own requests.
      responses:
        "200":
          description: The caller's visible correction requests.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          corrections:
                            type: array
                            items: { $ref: "#/components/schemas/TimeCorrection" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: "File a time-correction request against your own punch. Never mutates the entry — it proposes a change a manager must approve. Scope: time:write."
      operationId: createTimeCorrection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, reason]
              properties:
                timeEntryId:
                  type: string
                  format: uuid
                  nullable: true
                  description: Required for every kind except `missing_entry`, which has no entry yet.
                kind:
                  type: string
                  enum: [edit_in, edit_out, edit_both, missing_entry, delete_entry, zone_override]
                reason:
                  type: string
                  minLength: 10
                  maxLength: 2000
                  description: What happened, in the worker's words. Enforced at the database, not just here.
                proposedStartedAt: { type: string, format: date-time, nullable: true }
                proposedEndedAt: { type: string, format: date-time, nullable: true }
                proposedZoneId: { type: string, format: uuid, nullable: true }
      responses:
        "201":
          description: The filed request. The punch is unchanged.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          correction: { $ref: "#/components/schemas/TimeCorrection" }
        "400": { description: The request shape or reason is unusable. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: You can only request corrections to your own time entries. }
        "404": { description: Time entry not found. }
        "409": { description: You already have a pending request for this shift. }

  /api/v1/time/corrections/{id}:
    patch:
      summary: "Decide a time correction. Approving applies it in the same transaction (entry mutation + audit reason + re-open of an approved timesheet). Manager band only, and never your own request. Scope: time:approve."
      operationId: decideTimeCorrection
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, denied] }
                notes: { type: string, maxLength: 2000 }
      responses:
        "200":
          description: The applied result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          result:
                            type: object
                            properties:
                              state: { type: string, enum: [applied, denied] }
                              reopened_timesheet:
                                type: boolean
                                description: True when applying returned an already-approved timesheet to `open`, because the hours it blessed just changed.
                              time_entry_id: { type: string, format: uuid, nullable: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not a manager, or you are the requester (separation of duties). }
        "404": { description: Correction not found. }
        "409": { description: Already decided. }

  /api/v1/marketplace-listings:
    get:
      summary: "List the org's gear marketplace listings (crew buy/sell/trade). Optional `?state=` filter. Scope: marketplace:read."
      operationId: listMarketplaceListings
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageSize"
        - name: state
          in: query
          required: false
          schema: { type: string, enum: [draft, active, sold, withdrawn] }
          description: Filter by listing_state.
      responses:
        "200":
          description: Page of listings. `X-Total-Count` mirrors `data.totalCount`.
          headers:
            X-Total-Count: { schema: { type: integer } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          listings:
                            type: array
                            items: { $ref: "#/components/schemas/MarketplaceListing" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: "Create a marketplace listing. Idempotent when `Idempotency-Key` is provided. Scope: marketplace:write."
      operationId: createMarketplaceListing
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateMarketplaceListingRequest" }
      responses:
        "201":
          description: Listing created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          listing: { $ref: "#/components/schemas/MarketplaceListing" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/v1/marketplace-listings/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: "Get a single marketplace listing. Scope: marketplace:read."
      operationId: getMarketplaceListing
      responses:
        "200":
          description: The listing.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          listing: { $ref: "#/components/schemas/MarketplaceListing" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      summary: "Update a listing's price, state, title, or description. Scope: marketplace:write."
      operationId: updateMarketplaceListing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string, maxLength: 8000 }
                priceCents: { type: integer, minimum: 0 }
                listingState: { type: string, enum: [draft, active, sold, withdrawn] }
      responses:
        "200":
          description: Updated listing.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          listing: { $ref: "#/components/schemas/MarketplaceListing" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      summary: "Soft-delete a marketplace listing. Scope: marketplace:write."
      operationId: deleteMarketplaceListing
      responses:
        "200":
          description: Listing soft-deleted.
          content: { application/json: { schema: { $ref: "#/components/schemas/ApiOk" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/handovers:
    get:
      summary: "List shift/post handovers for the caller's org. Scope: handovers:read."
      operationId: listHandovers
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Page of handovers. `X-Total-Count` mirrors `data.totalCount`.
          headers:
            X-Total-Count: { schema: { type: integer } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiOk"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          handovers:
                            type: array
                            items: { $ref: "#/components/schemas/Handover" }
[...]
